Package            Version
------------------ --------
certifi            2024.2.2
charset-normalizer 3.3.2
idna               3.6
pip                22.0.2
pyTelegramBotAPI   4.15.4
python-dotenv      1.0.1
python-env         1.0.0
requests           2.31.0
setuptools         59.6.0
urllib3            2.2.0
